# Taken from https://github.com/jeszyman/biotools on 2022-06-08
# Ignore hidden directories
./snake*
**/.snakemake
**/.cache
**/.config
**/.java
# --- test data (auto-managed by get_test_data.sh) ---
tests/full/*
!tests/full/inputs/
!tests/full/inputs/**
